[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/blend2d"]
	path = external/blend2d
	url = https://github.com/blend2d/blend2d
[submodule "external/asmjit"]
	path = external/asmjit
	url = https://github.com/asmjit/asmjit
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
